--- 
title: About Evan Carmi
markup: markdown
---
# About Evan#

## Work Status: [Open to Freelance Opportunities][resume] ##

<img src="http://ecarmi.org/media/img/evan_bio.png" alt="Evan in front of the Mediterranean Sea" style="float: right; border: 1px solid black; margin: 5px;">

Hi! I'm Evan Carmi, the creator of this Web site. I'm a programmer, Web developer, and student. I grew up in Oregon, spent a year in Spain, and now spend nine months of the year at school in Connecticut. I'm passionate about developing clean, cross-browser compliant, DRY Web applications in an efficient and enjoyable process. Oh, and I use [ViM][]. 

*[DRY]: Don't Repeat Yourself

I've used [Django][] and I've used [Rails][].

I study Computer Science at Wesleyan University.

Email me at **evan** at **ecarmi** dot **org**.

Follow me on [twitter][]

[twitter]: http://twitter.com/ehc
[resume]: https://github.com/carmi/resume/raw/master/resume.pdf  "My LaTeX Resume"
[Python]: http://www.python.org/ "An easy-to-read, fun-to-code, programming language."
[Django]: http://www.djangoproject.com/ "A kick-ass Python Web framework"
[Rails]: http://rubyonrails.org/ "A hip Ruby framework for rockstar programmers"
[vim]: http://www.vim.org/ "An advanced text editor"
[git]: http://git-scm.com/ "A distributed version control system"
