--- 
title: About Evan Carmi
markup: markdown
---
# About Evan Carmi#

<div class="disclaimer">
<p><strong>Work Status:</strong> <a href="https://github.com/carmi/resume/raw/master/resume.pdf" title="See my LaTeX resume">Open to Exceptional Opportunities</a></p>
</div>

My name is Evan Carmi and I'm a software engineer passionate about meaningful projects, thoughtful code and modal editors.

I've used [Django][] and I've used [Rails][].

I study Computer Science at Wesleyan University.

Please email me with any thoughts, feedback or job offers.

Email me at **evan** at **ecarmi** dot **org.**

Follow me on [twitter][]

[twitter]: http://twitter.com/ehc
[Python]: http://www.python.org/ "An easy-to-read, fun-to-code, programming language."
[Django]: http://www.djangoproject.com/ "A kick-ass Python Web framework"
[Rails]: http://rubyonrails.org/ "A hip Ruby framework for rockstar programmers"
[vim]: http://www.vim.org/ "An advanced text editor"
[git]: http://git-scm.com/ "A distributed version control system"
