--- 
title: Portfolio
markup: haml
container_id: portfolio
---
%div.portfolio
  %div.contact
    %h6 Hire Me
    %p If you are interested in working with me, <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#101;&#118;&#097;&#110;&#064;&#101;&#099;&#097;&#114;&#109;&#105;&#046;&#111;&#114;&#103;" title="send me an email">send me an email</a>.
  %div.grid
    %div.grid-item
      %h1
        =link_to('The New York Times', 'http://www.nytimes.com/', :title => "The New York Times")

      %img{:src => "/static/img/nytoly.png", :alt => "New York Times London Olympics"}
      %img{:src => "/static/img/nytolychina.png", :alt => "New York Times London Olympics"}

      :markdown
        As an Interactive News Developer for The New York Times I helped create on one of the web's best [London 2012 Olympics sites](http://london2012.nytimes.com/results). Additionally, our data and site were syndicated and translated into many languages, [including Chinese](http://london2012.cn.nytimes.com/results).

    %div.grid-item
      %h1
        =link_to('SchoolBook.org', 'http://www.schoolbook.org', :title => "SchoolBook.org")

      %img{:src => "/static/img/schoolbook.png", :alt => "Schoolbook"}

      :markdown
        Contributed to [schoolbook.org](http://www.schoolbook.org/), a site dedicated to news, data and conversation about schools in New York City.

    %div.grid-item
      %h1
        =link_to('Fech', 'https://github.com/NYTimes/Fech', :title => "Fech")


      :markdown
        <img src="/static/img/romney-campfin-nyt.png" alt="Campaign Finance Graphic" width="330">

        Created the [first version of Fech](http://open.blogs.nytimes.com/2011/08/29/introducing-fech/), a Ruby parser for Federal Election Commission data while working on Campaign Finance apps at The New York Times. Our data was used to build [interactive](http://www.nytimes.com/interactive/2011/07/23/us/politics/20110723-romney-fundraising-map.html) [graphics](http://elections.nytimes.com/2012/campaign-finance/primaries). I even got a citation on the Wikipedia page for [Mitt Romney's 2012 Presidential Campaign](http://en.wikipedia.org/wiki/Mitt_Romney_presidential_campaign,_2012#cite_note-NYTFinances0331-39).

    %div.grid-item
      %h1
        =link_to('Brewster', 'https://www.brewster.com/', :title => "Brewster Social Addressbook")

      %img{:src => "/static/img/brewster.png", :alt => "Brewster"}

      :markdown
        [Brewster](https://www.brewster.com/) is [VC-backed](https://www.usv.com/portfolio) startup building the next-generation addressbook. As a Software Engineer within a small team I had numerous responsibilities including developing and managing multiple platforms. I was also the lead engineer on Brewster's syncing platform using CardDAV. CardDAV is a client/server protocol designed to allow syncing of contact information between a client and a server. I built the first version of a syncing solution that connected with Google's Contacts and Apple's iCloud services.

    %div.grid-item
      %h1
        =link_to('Wesleying.org', 'http://wesleying.org', :title => "wesleying.org")

      %img{:src => "/static/img/wesleying.png", :alt => "wesleying.org"}

      :markdown
        Served as Chief Technology Mastermind for [wesleying.org](http://wesleying.org), a popular blog about student life at Wesleyan University. While an undergraduate at Wesleyan University, I moved the WordPress site to a dedicated Linode VPS and optimized the server to handle increased traffic. I also completed a major redesign of the site in January 2013.

    %div.grid-item
      %h1
        =link_to('Sketchasong', 'http://sketchasong.com/', :title => "Sketch-a-song")

      %img{:src => "/static/img/sketchasong.png", :alt => "Sketch-a-Song"}

      :markdown
        I developed a website and API to programmatically mix and create MP3 songs for Sketch-a-Song, an app to create songs with friends.

    %div.grid-item
      %h1
        =link_to('Program on Terrorism and Insurgency Research', 'https://ptir.du.edu/', :title => "Program on Terrorism and Insurgency Research")

      :markdown
        Single handedly developed and deployed a custom Django web application to facilitate research, data entry, retrieval, and analysis for Professor Erica Chenoweth's Program on Terrorism and Insurgency Research.

        > "Evan was highly professional and punctual in his completion of my website and database. He was able to combine database functionality with a user-friendly site in a relatively short amount of time. He was also extremely responsive and helpful with requests, revisions, additions, and updates throughout the process."
        >
        > &mdash; [Erica Chenoweth](http://www.ericachenoweth.com/), PhD
