!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}

    %title
      - unless @item[:title].nil?
        #{@item[:title]} | Evan Carmi
      - else
        Evan Carmi


    %link{:href => hashed_url('/static/css/style.css'), :media => "screen", :rel => "stylesheet", :type => "text/css"}

    <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Habibi|Droid+Sans' rel='stylesheet' type='text/css'>
    <link href="/writing/feed.xml" type="application/atom+xml" rel="alternate" title="Writing ATOM Feed">
    %meta{:name => "generator", :content => "nanoc"}
    %meta{:name => "author", :content => "Evan Carmi"}

    - if @item.path == '/'
      %meta{:name => "description", :content => "Evan Carmi's Web site - a programmer and developer"}
    - elsif @item.path == '/writing/'
      %meta{:name => "description", :content => "Evan Carmi's programming and web development blog"}
    - elsif @item.path == '/about/'
      %meta{:name => "description", :content => "Evan Carmi's contact information and biography - a programmer and developer"}
    - elsif @item[:kind] == 'article'
      %meta{:name => "description", :content => "#{@item[:summary]}"}

  %body
    // Load MediaTemple (Jquery) CDN's Jquery

    = yield

    %div.clear
    %div.footer
      %div.container
        = render 'footer'

    // Javascript

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    %script{:src => hashed_url('/static/js/combined.js'), :type => "text/javascript"}

    = render 'analytics'

    %script{:type => "text/javascript"}
      jQuery(document).ready(function() {
      jQuery("time.timeago").timeago();
      });

    - if (@item.path == '/') || (@item.path == '/writing/')
      \ <script type="text/javascript">
      \     /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      \     var disqus_shortname = 'ecarmi'; // required: replace example with your forum shortname
      \ 
      \     /* * * DON'T EDIT BELOW THIS LINE * * */
      \     (function () {
      \         var s = document.createElement('script'); s.async = true;
      \         s.type = 'text/javascript';
      \         s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      \         (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      \     }());
      \ </script>
