%div.clear
%footer
  %div.column.ecarmi-org
    %h2 ecarmi.org
    %p is my personal Web site. It is home to a collection of my thoughts and projects.

  %div.column.colophon
    %h2 colophon
    %p 
      Powered by #{link_to('nanoc', 'http://nanoc.stoneship.org/')}, the complete source-code to this site is on #{link_to('github', "https://github.com/carmi/ecarmi.org-nanoc")}
  %div.column.evancarmi
    %h2 Evan
    %p is a human being. He lives in New York, works for The New York Times, and occasionally studies at Wesleyan University. #{link_to('Read more.', '/about/')}

  %div.column.twitter
    %h2 twitter
    %div.handle
      <a href="https://twitter.com/ehc" class="twitter-follow-button" data-show-count="false">Follow @ehc</a>
      <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
    %p#tweets
    
  %div.clear

  %div.notes
    %p.best-viewed
      This site is best viewed in
      %a{:href => "http://curl.haxx.se/"}
        cURL.

    %p.links
      <a href="http://validator.w3.org/check?uri=referer"><img src="/static/img/html5-64.png" width="64" height="64" alt="HTML5 Powered with CSS3" title="HTML5 Powered with CSS3"></a>

      <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/"><img src="/static/img/cc-64.png" width="64" height="64" alt="Creative Commons Attribution 3.0" title="Creative Commons Attribution 3.0"></a>
