- unless @item.path == '/'
  %header.flybar
    %hgroup
      %h1.title= "#{@item[:title]}"
      -if @item[:kind] == 'article'
        %h3.byline
          by 
          %a{:href => "http://ecarmi.org/"}
            Evan Carmi
        %h4.post_date
          Posted
          = @item.timeago_time
    %nav.breadcrumbs
      %ul
        - breadcrumbs_trail.each do |crumb|
          %li
            =link_to(crumb.path.split('/').last || 'ecarmi.org', crumb)

