%div.landing
  %span.hello Hello, my name is
  %span.name
    %span.evan Evan
    %span.carmi Carmi
  %span.iam I am a

  %div.action-block
    %div.actions-center
      %div.action
        %a{:href => "#developer"}
          %button developer
      %div.action
        %a{:href => "#designer"}
          %button designer
      %div.action
        %a{:href => "#author"}
          %button author

  %div.action-descriptions
    %p.developer
      I've built high traffic web applications for The New York Times, I've worked at early stage startups, and I want to work with you.
    %p.designer
      I've studied graphic design, printed on a Vandercook letterpress, and designed the site you're currently viewing from scratch in HTML and CSS.
    %p.author
      My ebook has been purchased by people in eight countries and counting. My blog posts have been read thousands of times and linked to from publications such as Business Insider and TechCrunch.

