%div.landing
  %h1.name Hello, my name is
  %h1.evancarmi Evan Carmi.
  %h1.i I
  %hgroup
    %ul
      %li.action.code
        %h1.action.code code
      %li.action.write
        %h1.action.write write
      %li.action.work
        %h1.action.work work
      %li.action.tweet
        %h1.action.tweet tweet

  %div.action
    %h3.featured Featured Post
    %article
      = render('post-link', :item => featured_articles[0])

  %h1 Ten Tweets
  %div#ten-tweets
    Tweets are loading.

  %h1 Work
  %p I'm currently interning at The New York Times. I just built this
