%nav.sidebar
  =link_to('<i class="icon-info-sign"></i>', '/about/', :title => "About", :class=> "toggle")

  %div.links
    =link_to_unless_current('<i class="icon-home"></i>home', '/', :title => "Home")
    =link_to_unless_current('<i class="icon-info-sign"></i>about', '/about/', :title => "About")
    =link_to_unless_current('<i class="icon-picture"></i>portfolio', '/portfolio/', :title => "Portfolio")
    =link_to_unless_current('<i class="icon-pencil"></i>writing', '/writing/', :title => "Writing")
    =link_to('<i class="icon-github"></i>github', 'https://github.com/carmi/', :title => "Github")
    =link_to('<i class="icon-twitter"></i>twitter', 'https://twitter.com/ehc', :title => "Twitter")
    =link_to('<i class="icon-linkedin"></i>linkedin', 'http://www.linkedin.com/in/evancarmi', :title => "LinkedIn")
