%nav.sidebar
  =link_to('<i class="icon-info-sign"></i>', '/about/', :title => "About", :class=> "toggle")

  %div.links
    <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#101;&#118;&#097;&#110;&#064;&#101;&#099;&#097;&#114;&#109;&#105;&#046;&#111;&#114;&#103;"><i class="icon-envelope-alt"></i>contact</a>
    =link_to_unless_current('<i class="icon-home"></i>home', '/', :title => "Home")
    =link_to_unless_current('<i class="icon-info-sign"></i>about', '/about/', :title => "About")
    =link_to_unless_current('<i class="icon-picture"></i>portfolio', '/portfolio/', :title => "Portfolio")
    =link_to_unless_current('<i class="icon-pencil"></i>writing', '/writing/', :title => "Writing")
    =link_to('<i class="icon-github"></i>github', 'https://github.com/carmi/', :title => "Github", :rel => "me")
    =link_to('<i class="icon-twitter"></i>twitter', 'https://twitter.com/ehc', :title => "Twitter", :rel => "me")
    =link_to('<i class="icon-linkedin"></i>linkedin', 'http://www.linkedin.com/in/evancarmi', :title => "LinkedIn", :rel => "me")
