%nav.sidebar
  =link_to('<i class="icon-info-sign"></i>', '/about/', :title => "About", :class=> "toggle")

  %div.links
    =link_to_unless_current('home', '/', :title => "Home")
    =link_to_unless_current('about', '/about/', :title => "About")
    =link_to_unless_current('portfolio', '/portfolio/', :title => "Portfolio")
    =link_to_unless_current('writing', '/writing/', :title => "Writing")
    =link_to('github', 'https://github.com/carmi/', :title => "Github")
    =link_to('twitter', 'https://twitter.com/ehc', :title => "Twitter")
    =link_to('linkedin', 'http://www.linkedin.com/in/evancarmi', :title => "LinkedIn")
