.book
  font-size: 23px

  .divider
    width: 100%
    margin-top: 2rem
    border-top: 40px solid rgb(231, 231, 233)

  section
    @include outer-container()
    padding-top: 3rem
    max-width: 37.5rem

    h4
      font-weight: bold
      font-variant: small-caps
      text-align: center
      padding-bottom: 1em

  section.wide
    max-width: 65rem

  section#quotes
    ul
      li
        padding: 15px
        list-style-type: none
        font-size: 23px
        .quote
          font-style: italic
          &:before
            content: '\201c'
            color: rgba(0, 0, 0, 0.08)
            margin-left: -58px
            float: left
            margin-top: -50px
            font-size: 7rem
        b
          padding-left: 15px
          @include row()

  section#learn
    ul
      li
        @include span-columns(4)
        @include omega(3n)
        padding-right: 30px
        padding-bottom: 20px

  section#packages
    div.package

      .title
        padding-bottom: 1em

      padding-bottom: 1rem
      border-radius: 10px

      text-align: center

      ul
        list-style-type: disc
        li
          font-size: .7em
          text-align: left
          margin-left: 2em


      .mailchimp-signup
        padding: 2em
        font-size: 16px
        .mce_inline_error
          display: inline-block
        .mc-field-group
          label
            @include span-columns(3 of 8)
            vertical-align: middle
            padding-top: 0.5em
          input
            @include span-columns(5 of 8)
            width: 57%


      .action-button
        button
          margin-top: 20px
        font-size: 23px


  section.books-fold
    .ebook-cover
      @include span-columns(6)
    .ebook-header-description
      padding-top: 6rem
      @include span-columns(6)
      h1.title
        font-size: 35px
        font-weight: bold
      h2.subtitle
        font-size: 20px
        font-style: italic
        padding-bottom: 2rem
      span.quote
        font-size: 27px
        font-style: italic
        padding-left: 15px
        padding-right: 15px
        padding-top: 10px
        padding-bottom: 10px
        display: block
      .call-to-action
        padding-top: 2rem
        font-size: 23px
        font-variant: small-caps
        text-align: center

    p
      font-size: 19px

  .ebook-versions
    font-size: .8rem
    display: inline-block
