// ============================== */
// ! Layout for desktop version   */
// ============================== */

@import url(http://fonts.googleapis.com/css?family=Ultra|Droid+Sans+Mono|Crimson+Text)
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Droid+Sans|PT+Sans|Oswald|Open+Sans|Open+Sans+Condensed|Josefin+Sans|Dosis|Habibi|Strait|Enriqueta|Vollkorn|Goudy+Bookletter+1911|Quattrocento|Ubuntu+Condensed)

// Import tango.scss code-highlighting css
@import "tango"
@import "font-awesome"

@import "compass/css3/transition"
@import "compass/css3/columns"
@import "compass/typography/vertical_rhythm"
@import "compass/reset/utilities"

@include establish-baseline

html
  font-size: 100%
body
  font-size: 1.2rem
  line-height: 2rem
h1
  line-height: 2.8rem
  margin-top: 15px
  margin-bottom: 15px

$main_bg: #fff
$sidebar_width: 10em

$content_width: 65rem
$headline_font: 'Goudy Bookletter 1911'

$body_font: 'Habibi', arial, serif
$sans_font: 'Source Sans Pro'

$title_color: rgb(90, 38, 38)
$scrollpage_dark: #242122
$bg_dark: #1f1f1f
$dark_bg:  #303030
$box_border: #A64B00

$header_text: #686868
$text: #000


$link_color:         #A64B00
$link_color_hover:   #BF7130

// Basic styles
a
  color: $link_color
  text-decoration: none
  &:hover
    text-decoration: underline
    color: $link_color_hover

abbr, acronym
  border-bottom: 1px dotted
del
  text-decoration: line-through
ins
  text-decoration: overline

// Custom Styling

// Posts
.prev
  float: left
.next
  float: right

//About
img#headstand-about
  float: right
  padding-left: 2rem

// Portfolio
div.portfolio
  img
    width: 300px
  



body
  font-family: $body_font
  color: $text


pre, code, tt, kdb, samp
  font-family: 'Droid Sans Mono', monospace, courier
  overflow: auto
  font-size: 14px
  overflow: auto
  border: 1px solid $box_border
  padding: 1px

pre
  padding-right: 5px
  padding-left: 5px
  border: 1px solid $box_border
  border-left: 1rem solid $box_border

// Unstyle code inside <pre> tag
pre
  code, tt, kdb, samp, pre
    padding: 0
    border: none


  div.disclaimer
    background: rgba(255, 255, 153, 0.7)
    line-height: 2em
    margin: 2em 2em 2em 0em
    font-size: 1.2em
    padding: 1em

    p:last-child
      margin: 0

h1, h2, h3, h4, h5, h6
  font-family: $headline_font
  font-weight: 100
  a
    color: $header_text
    text-decoration: none


article.post
  max-width: 40rem
  margin-left: auto
  margin-right: auto
  border-top: 3em solid rgb(251, 251, 250)

  h1
    border-bottom: 1px solid rgb(177, 59, 59)
    padding-bottom: 6px
    margin-bottom: 19px

nav.sidebar
  position: fixed
  top: 1rem
  left: 1rem
  float: left
  width: $sidebar_width
  font-size: .9rem
  font-family: $sans_font
  a.toggle
    color: #eddbcc
    font-size: 7rem
    padding-left: 10px
    text-decoration: none
  &:hover
    a.toggle
      color: $link_color

  &.visible
    a.toggle
      color: $link_color

  div.links
    background: $main_bg
    span.active, a
      text-align: left
      display: block
      padding: 0px 6px 0px 8px
      margin: 1px 2px
      &:hover
        i
          text-decoration: none
      i
        width: 2rem
        display: inline-block
        text-decoration: none

//Style Blockquotes
blockquote
  margin-left: 0
  font-style: oblique
  padding: 1em 2em 1em 2em
  border-left: 3rem solid rgb(25, 170, 164)

  


header
  nav.breadcrumbs
    ul
      list-style-type: none
      margin: 0
      li
        float: left
        padding-left: .2em
        &:after
          font-weight: bold
          content: '\2192'
        &:last-child:after
          content: ''
        &:last-child
          float: none

        a
          padding-right: .5em
          padding-left: .5em
          color: $header_text
          &:hover
            color: $bg_dark


  hgroup
    text-align: center
    h1.title
      font-size: 4.5rem
      line-height: 5.5rem
      margin-bottom: 0
      color: $title_color

div.container
  min-height: 5em
  margin-left: auto
  margin-right: auto
  padding: 0em 10em 1em 10em
  width: 65%
  max-width: $content_width


$footer-border-color: rgb(228, 228, 228)

div.footer
  border-top: 2rem solid rgb(228, 228, 228)
  background: #000
  color: rgb(134, 134, 134)
  font-family: $sans_font
  font-size: 1rem
  line-height: 1.5rem
  .header
    text-transform: lowercase
    font-variant: small-caps
    font-size: 1.3rem
    color: rgb(228, 228, 228)
    padding: 0
    margin: 0
    font-family: $sans_font
  div.wrap
    padding: 1rem
  .work-thumb
    height: 80px
    padding: 5px
  div#column1
    width: 60%
    float: left
    border-right: 1px solid $footer-border-color
  div#column2
    width: 39%
    float: left
  div.row
    min-width: 3rem
    float: left
  div#ll
    border-top: 1px solid $footer-border-color
  div#hire
    width: 100%
    float: left
  div#colophon
    border-right: 1px solid $footer-border-color
    width: 49%
    float: left
  div#about
    border-bottom: 1px solid $footer-border-color
    img#headstand
      float: right
      padding-bottom: 1rem
  div#work
    float: left
    width: 49%
  p.links a
    color: rgb(134, 134, 134)
    font-size: 1rem
    padding-left: 3rem
    &:hover
      text-decoration: none
      color: rgb(90, 38, 38)
    
  div.column
    float: left
    width: 33%
    padding: 0
    margin: 0
    overflow: hidden
    p
      padding-right: 1em
    h2
      position: relative
      font-family: $headline_font
      font-weight: lighter
      margin-bottom: .5em


  div.notes
    padding-top: 1rem
    clear: both
    text-align: center

div#disqus_thread
  padding-top: 3rem
  border-top: 2px solid #5a2626

a.dsq-brlink
  display: none

section#articles
  article
    overflow: visible
    min-width: 25em
    margin-bottom: 1em
    padding-right: 2em
    padding-top: 1rem
    border-bottom: 1px solid rgb(177, 59, 59)

    h2.title
      margin-top: 0
      margin-bottom: 5px

    div.post-content
      span.posted
        color: $header_text
        font-weight: bold
      h4.comments
        margin: 0

.clear
  clear: both
  display: block

// Portfolio Styles

div#about
  max-width: 40rem
  p
    font-size: 16px

$gray-border: rgb(72, 94, 72)
div#portfolio
  div.content
    max-width: $content_width
  div.contact
    text-align: center
    border-bottom: 1px solid $gray_border
  div.grid
    @include column-count(2)
    @include column-gap(1px)
    @include column-rule(1px, solid, $gray_border)
  div.grid-item
    border-bottom: 1px solid $gray_border
    display:  inline-block
    padding-right: 8%
    padding-left: 8%
    @include single-transition(background-color, .2s)
    &:hover
      background-color: #fafafa

// ============================= */
//  Styles only for wide screens */
// ============================= */

@media screen and (min-width: 767px)
  // Homepage styling
  body
    margin: 0
    padding: 0
  div.landing
    width: 80%
    max-width: 65rem
    margin-top: 4em
    margin-left: auto
    margin-right: auto
    color: #b6b6b6
    h2.name
      font-size: 3em
      text-align: center
      margin-bottom: 0
      padding-bottom: 0
    h1.evancarmi
      color: $gray_border
      margin-top: .1em
      font-size: 8em
      line-height: 1em
      text-align: center
      margin-bottom: 0 
    h1.i
      font-size: 4em
      text-align: center
    ul
      list-style-type: none
      li
        width: 31%
        float: left
        border-left: 10px solid $header_text
        padding-top: .7em
        font-size: 1.7em
        height: 1.5em
        margin-bottom: 3em
        text-align: center
        h1.action
          height: 1em
          padding: 0
          margin: 0
          margin-left: -.5em
          margin-right: -.5em
          opacity: .7
          &:after
            position: relative
            content: '\21D3'
            margin-top: .7em
            font-size: 3rem
            display: none
        &:hover
          h1
            height: 4em
            opacity: 1
            &:after
              display: block

      & > li:last-child
        border-right: 10px solid $header_text

section.scrollpage
  position: relative
  width: 100%
  overflow: hidden
  h1.section
    font-variant: small-caps
    color: #ffffff
    text-align: center
    font-size: 7em
    line-height: 7rem
  a
    color: #fff
    text-decoration: none
    font-weight: bolder
    &:hover
      color: $scrollpage_dark
  h1, h2
    color: #fff
  div.wrapper
    padding-right: 3em
    padding-left: 3em
    padding-bottom: 3em

section#write
  background: #00af65

section#code
  background: #0b61a4
section#work
  background: #ff9200
section#tweet
  background: #ff4900


// ============================= */
// ! Layout for mobile version   */
// ============================= */

@media screen and (max-width: 767px)
