// ============================== */
// ! Layout for desktop version   */
// ============================== */

@import url(http://fonts.googleapis.com/css?family=Ultra|Droid+Sans+Mono|Crimson+Text)

// Import tango.scss code-highlighting css
@import "tango"

@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"
@import "compass/css3/text-shadow"
@import "compass/css3/transition"
@import "compass/css3/transform"
@import "compass/layout/grid-background"

@import "compass/typography/vertical_rhythm"

@import "compass/reset/utilities"

@include establish-baseline

// Vertical rhythm for 18px/24px
p
  font-size: 1em /* 18px */
  line-height: 1.3333em /* 24px */
  margin: 0 0 1.3333em 0

$sidebar_width: 10em
$margin_top: 7em

// Colors
//http://colorschemedesigner.com/#0u31Mw0w0w0w0
//Orange

$scrollpage_dark: #242122
$bg_dark: #1f1f1f
$box_bg:  #303030
$dark_bg:  #303030
$box_border: #A64B00

$header_text: #686868
$text: #000
$bg: #cccccc

$header_dark:     #A64B00
$header_light:    #BF7130

//Blue
$primary_dark:    #05316D
$primary_light:   #284C7E
//Green
$secondary_dark:  #007929
$secondary_light: #238C47

$link_color:         #A64B00
$link_color_hover:   #BF7130

$green:   #00BB3F
$blue:    #0F4FA8
$orange:  #FF7400
$grey:    #B5B9BA
// Basic styles

a
  text-decoration: underline
  &:hover
    text-decoration: none
    color: $link_color_hover

abbr, acronym
  border-bottom: 1px dotted
  cursor: help

del
  text-decoration: line-through

ins
  text-decoration: overline

sub
  font-size: .734em
  line-height: 1em
  vertical-align: sub

sup
  font-size: .734em
  line-height: 1em
  vertical-align: super

// Custom Styling
@mixin max-width
  max-width: 80em

@mixin section_landing
  position: relative
  width: 100%
  height: 42em
  overflow: hidden
  h1.section
    font-variant: small-caps
    font-family: 'Ultra'
    font-weight: lighter
    color: #ffffff
    text-align: center
    font-size: 7em

@mixin header-shadow
  font-variant: small-caps
  text-shadow: -1px -1px 0px #999

@mixin invert_colors
  background: $dark_bg
  color: $bg

  &:hover
    opacity: 1


body
  font-family: 'Crimson Text', arial, serif
  color: $text
  background-color: $bg

  h1, h2, h3, h4, h5, h6
    color: $header_text

pre, code, tt, kdb, samp
  font-family: 'Droid Sans Mono', monospace, courier
  overflow: auto
  font-size: 14px
  @include invert_colors
  overflow: auto
  @include border-radius(5px 0 0 0)
  border: 1px solid $box_border

pre
  padding-right: 5px
  padding-left: 5px
  @include border-radius(0 15px 0 0)
  border: 1px solid $box_border
  border-left: 4px solid $box_border

// Unstyle code inside <pre> tag
pre
  code, tt, kdb, samp, pre
    padding: 0
    border: none
    @include border-radius(0)

div.content
  margin-top: $margin_top
  min-height: 5em
  margin-left: $sidebar_width + 1em
  float: left
  @include max-width
  width: 75%

  div.disclaimer
    background: rgba(255, 255, 153, 0.7)
    line-height: 2em
    margin: 2em 2em 2em 0em
    font-size: 1.2em
    padding: 1em
    @include border-radius(5px)

    p:last-child
      margin: 0

div.content, div.landing
  h1, h2, h3
    font-variant: small-caps
    font-family: 'Ultra'
    font-weight: lighter
    a
      color: $header_text
      text-decoration: none

div.article
  max-width: 35em
  min-width: 20em
  margin-left: 11em


nav.sidebar
  // location
  position: fixed
  top: 7em
  left: 1em
  float: left
  width: $sidebar_width
  opacity: .2
  @include single-transition(.1s ease-in .1s)

  &:hover
    opacity: 1

  a, span
    width: 90px
    text-align: left
    text-decoration: none
    display: block
    padding: 0px 6px 0px 8px
    margin: 1px 2px
    @include border-radius(2px)
    color: $header_text
    background: $bg
    &:hover
      color: $bg
      background: $header_text
    &.active
      color: $bg
      background: $header_text
      

  img
    margin: 2px
    border: 2px solid $header_text
    @include border-radius(3px)

//Style Blockquotes
blockquote
  margin-left: 0
  quotes: "\201C""\201D""\2018""\2019"
  font-style: oblique
  padding: 1em 2em 1em 2em
  @include invert_colors
  color: #ccc
  @include border-radius(15px)

  p
    &:last-child
      margin-bottom: 0
  
  &:before
    color: #ccc
    content: open-quote
    font-size: 6em
    line-height: .1em
    margin-left: -.15em
    position: relative
    left: -.2em
    top: .25em
    float: left

  &:after
    color: #ccc
    content: close-quote
    font-size: 6em
    line-height: .1em
    margin-left: -.15em
    position: relative
    right: -.1em
    bottom: -.2em
    float: right

a:visited
  color: $link_color

a
  color: $link_color

header.flybar
  // location and size
  width: 100%
  z-index: 100
  position: fixed
  top: 0
  left: 0
  max-width: none

  // color and style
  background: $header_light
  border-bottom: 1px solid $dark_bg
  overflow: visible

  opacity: 0.90

  @include single-transition(opacity, .2s, ease-in)

  &:hover
    opacity: 1


  nav.breadcrumbs
    font-size: .8em
    margin: 0
    z-index: 110
    float: right
    padding-right: 2em
    ul
      list-style-type: none
      margin: 0
      li
        float: left
        padding-left: .2em
        &:after
          color: $bg
          font-weight: bold
          content: '\21D2'
        &:last-child:after
          content: ''

        a
          padding-right: .5em
          padding-left: .5em
          background: $bg
          @include border-radius(5px)
          font-weight: bold
          text-transform: uppercase
          text-decoration: none
          color: $header_text
          @include box-shadow(0 1px 2px rgba(0,0,0,.8))
          @include single-transition(color .1s ease-in .1s)
          &:hover
            color: $bg_dark


  hgroup
    padding-top: .5em
    padding-left: 2em
    h1.title
      float: left
      padding-right: 10px
      padding-bottom: .2em
      max-width: 60%
      margin: 0
      font-variant: small-caps
    h3.byline
      //padding-right: 10px
      margin: 0
      padding-bottom: .35em
      color: #ccc
      a
        color: #ccc
    h4.post_date
      float: left
      color: #ccc
      margin: 0
      padding: 0

div.container
  footer
    border-top: 1em solid $header_text

footer
  @include max-width
  background: #ccc
  margin-left: $sidebar_width + 1em

  div.column
    float: left
    width: 25%
    padding: 0
    margin: 0
    overflow: hidden

    p
      padding-right: 1em

    h2
      font-size: 1.1em
      position: relative
      text-transform: uppercase
      font-family: 'Ultra'
      font-weight: lighter
      margin-bottom: .5em


  div.twitter
    ul
      list-style: none
      padding: 0
      margin: 0
      li
        a.tweet_time            
          color: #186487 
      
  div.notes
    clear: both
    text-align: center

div#disqus_thread
  div
    font-size: 1em

a.dsq-brlink
  display: none

section#articles
  article
    overflow: visible
    min-width: 25em
    margin-bottom: 1em
    padding-right: 2em
    opacity: .8
    @include single-transition(opacity .2s linear .1s)

    &:hover
      opacity: 1

    h2.title
      margin-top: 0
      margin-bottom: 5px
      a
        text-decoration: none

    div.post-content
      span.posted
        color: $header_text
        font-weight: bold
      h4.comments
        margin: 0

.clear
  clear: both
  display: block
// ============================= */
//  Styles only for wide screens */
// ============================= */

@media screen and (min-width: 767px)
  // Homepage styling
  body
    margin: 0
    padding: 0
  div.landing
    width: 60em
    margin-top: 4em
    margin-left: auto
    margin-right: auto
    h1.name
      font-size: 3em
      text-align: center
      margin-bottom: 0
      padding-bottom: 0
      opacity: .3
      @include single-transition(opacity, .25s, linear, .1s)
      &:hover
        opacity: .5
      &:before
        content: '\264E'
        text-align: center
        font-size: 3em
        display: block
        padding-bottom: .35em
      
    h1.evancarmi
      margin-top: .1em
      font-size: 8em
      line-height: 1em
      text-align: center
      margin-bottom: 0 
    h1.i
      font-size: 4em
      text-align: center

    div.action-block
      text-align: center
      ul
        overflow: visible
        list-style-type: none
        li
          width: 23%
          float: left
          border-left: 10px solid $header_text
          padding-top: .7em
          font-size: 1.7em
          height: 1.5em
          margin-bottom: 2.2em
          h1.action
            height: 1em
            padding: 0
            margin: 0
            margin-left: -.5em
            margin-right: -.5em
            opacity: .7
            @include single-transition(opacity, .25s, linear, .1s)
            &:after
              color: #b6b6b6
              position: relative
              content: '\21A1'
              margin-top: .7em
              display: none
            &:hover
              height: 4em
              opacity: 1
              &:after
                display: block

        & > li:last-child
          border-right: 10px solid $header_text
      
      div.action
        display: inline-block
        overflow: hidden

section.scrollpage
  @include section_landing
  a
    color: #fff
    text-decoration: none
    font-weight: bolder
    &:hover
      color: $scrollpage_dark
  h1, h2
    a
      font-weight: lighter
  h1, h2
    font-variant: small-caps
    font-family: 'Ultra'
    font-weight: lighter
    color: #ffffff
  div.wrapper
    padding-right: 3em
    padding-left: 3em
  p
    font-size: 1.2em

section#write
  background: #00af65
section#code
  background: #0b61a4
section#work
  background: #ff9200
section#tweet
  background: #ff4900

  ul.tweet_list
    font-size: 1.2em
    list-style-type: none
    li
      overflow: hidden
      padding: .1em
      span.tweet_text
        width: 39em
        float: right


// ============================= */
// ! Layout for mobile version   */
// ============================= */

@media screen and (max-width: 767px)
  // Disable flybar on small screens to conserve screen space
  header.flybar
    position: absolute
    margin: 0
    padding: .5em 0 0 0
    nav.breadcrumbs
      display: none

  div.content
    width: 95%
    margin-left: 1em

  section#articles
    article
      min-width: 5em
      width: 100%

  nav.sidebar
    top: auto
    left: auto
    position: inherit
    margin-left: 1em
    float: none
    h2
      display: inline
      top: auto
      left: auto
      position: inherit
      @include rotate(0)

  footer
    margin-left: 1em
    div.column
      float: none
      width: 80%
      height: 100%

  // Homepage styling
  section.scrollpage
    height: auto
  div.landing
    margin-left: auto
    margin-right: auto
    h1.name
      font-size: 2em
      text-align: center
      &:before
        content: '\264E'
        text-align: center
        font-size: 3em
        display: block
        padding-bottom: .25em
      
    h1.evancarmi
      margin-top: .1em
      font-size: 3em
      line-height: 1em
      text-align: center
      margin-bottom: 0 
    h1.i
      font-size: 4em
      text-align: center

    div.action-block
      text-align: center
      ul
        padding: 0
        margin: 0
        overflow: visible
        list-style-type: none
        li
          font-size: 2em

      div.action
        display: inline-block
        overflow: hidden
