// ============================== */
// ! Layout for desktop version   */
// ============================== */

@import url(http://fonts.googleapis.com/css?family=Ultra|Droid+Sans+Mono|Crimson+Text)
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Droid+Sans|PT+Sans|Oswald|Open+Sans|Open+Sans+Condensed|Josefin+Sans|Dosis|Habibi|Strait|Enriqueta|Vollkorn|Goudy+Bookletter+1911|Quattrocento)

// Import tango.scss code-highlighting css
@import "tango"
@import "font-awesome"

@import "compass/css3/transition"
@import "compass/typography/vertical_rhythm"
@import "compass/reset/utilities"

@include establish-baseline

html
  font-size: 112.5%
body
  font-size: 1.3rem
  line-height: 2rem
h1
  font-size: 2.4rem

$sidebar_width: 10em

$headline_font: 'Goudy Bookletter 1911'

$body_font: 'Habibi', arial, serif

$scrollpage_dark: #242122
$bg_dark: #1f1f1f
$dark_bg:  #303030
$box_border: #A64B00

$header_text: #686868
$text: #000


$link_color:         #A64B00
$link_color_hover:   #BF7130

// Basic styles
a
  color: $link_color
  text-decoration: none
  &:hover
    text-decoration: underline
    color: $link_color_hover

abbr, acronym
  border-bottom: 1px dotted
del
  text-decoration: line-through
ins
  text-decoration: overline

// Custom Styling

// Posts
.prev
  float: left
.next
  float: right

// Portfolio
div.portfolio
  img
    width: 300px
  

@mixin section_landing
  position: relative
  width: 100%
  height: 42em
  overflow: hidden
  h1.section
    font-variant: small-caps
    font-family: $headline_font
    font-weight: lighter
    color: #ffffff
    text-align: center
    font-size: 7em


@mixin invert_colors
  background: $dark_bg

  &:hover
    opacity: 1


body
  font-family: $body_font
  color: $text


pre, code, tt, kdb, samp
  font-family: 'Droid Sans Mono', monospace, courier
  overflow: auto
  font-size: 14px
  overflow: auto
  border: 1px solid $box_border
  padding: 1px

pre
  padding-right: 5px
  padding-left: 5px
  border: 1px solid $box_border
  border-left: 1rem solid $box_border

// Unstyle code inside <pre> tag
pre
  code, tt, kdb, samp, pre
    padding: 0
    border: none


  div.disclaimer
    background: rgba(255, 255, 153, 0.7)
    line-height: 2em
    margin: 2em 2em 2em 0em
    font-size: 1.2em
    padding: 1em

    p:last-child
      margin: 0

h1, h2, h3, h4, h5, h6
  font-family: $headline_font
  font-weight: 100
  a
    color: $header_text
    text-decoration: none

div.content
  max-width: 40rem
  margin-left: auto
  margin-right: auto
  border-top: 3em solid rgb(251, 251, 250)

  h1
    border-bottom: 1px solid rgb(177, 59, 59)

nav.sidebar
  position: fixed
  top: 1rem
  left: 1em
  float: left
  width: $sidebar_width
  a.toggle
    opacity: .2
    font-size: 7rem
    text-decoration: none

  &.visible
    a.toggle

  div.links
    span.active, a
      text-align: left
      display: block
      padding: 0px 6px 0px 8px
      margin: 1px 2px
      &:hover
        i
          text-decoration: none
      i
        width: 2rem
        display: inline-block
        text-decoration: none

//Style Blockquotes
blockquote
  margin-left: 0
  font-style: oblique
  padding: 1em 2em 1em 2em
  border-left: 3rem solid rgb(25, 170, 164)

  


header
  nav.breadcrumbs
    ul
      list-style-type: none
      margin: 0
      li
        float: left
        padding-left: .2em
        &:after
          font-weight: bold
          content: '\2192'
        &:last-child:after
          content: ''
        &:last-child
          float: none

        a
          padding-right: .5em
          padding-left: .5em
          color: $header_text
          &:hover
            color: $bg_dark


  hgroup
    text-align: center
    h1.title
      font-size: 4.5rem
      line-height: 5.5rem
      margin-bottom: 0
      color: rgb(90, 38, 38)

div.container
  min-height: 5em
  margin-left: auto
  margin-right: auto
  padding: 0em 10em 1em 10em
  width: 65%
  max-width: 1260px
  background-color: #fff

  footer
    border-top: 1em solid $header_text

footer
  div.column
    float: left
    width: 33%
    padding: 0
    margin: 0
    overflow: hidden
    p
      padding-right: 1em
    h2
      position: relative
      font-family: $headline_font
      font-weight: lighter
      margin-bottom: .5em


  div.notes
    clear: both
    text-align: center

div#disqus_thread
  padding-top: 3rem
  border-top: 2px solid #5a2626

a.dsq-brlink
  display: none

section#articles
  article
    overflow: visible
    min-width: 25em
    margin-bottom: 1em
    padding-right: 2em

    h2.title
      margin-top: 0
      margin-bottom: 5px
      a
        text-decoration: none

    div.post-content
      span.posted
        color: $header_text
        font-weight: bold
      h4.comments
        margin: 0

.clear
  clear: both
  display: block
// ============================= */
//  Styles only for wide screens */
// ============================= */

@media screen and (min-width: 767px)
  // Homepage styling
  body
    margin: 0
    padding: 0
  div.landing
    width: 60em
    margin-top: 4em
    margin-left: auto
    margin-right: auto
    h1.name
      font-size: 3em
      text-align: center
      margin-bottom: 0
      padding-bottom: 0
    h1.evancarmi
      margin-top: .1em
      font-size: 8em
      line-height: 1em
      text-align: center
      margin-bottom: 0 
    h1.i
      font-size: 4em
      text-align: center

    div.action-block
      text-align: center
      ul
        overflow: visible
        list-style-type: none
        li
          width: 23%
          float: left
          border-left: 10px solid $header_text
          padding-top: .7em
          font-size: 1.7em
          height: 1.5em
          margin-bottom: 2.2em
          h1.action
            height: 1em
            padding: 0
            margin: 0
            margin-left: -.5em
            margin-right: -.5em
            opacity: .7
            &:after
              color: #b6b6b6
              position: relative
              content: '\21A1'
              margin-top: .7em
              display: none
            &:hover
              height: 4em
              opacity: 1
              &:after
                display: block

        & > li:last-child
          border-right: 10px solid $header_text
      
      div.action
        display: inline-block
        overflow: hidden

section.scrollpage
  @include section_landing
  a
    color: #fff
    text-decoration: none
    font-weight: bolder
    &:hover
      color: $scrollpage_dark
  h1, h2
    a
      font-weight: lighter
  h1, h2
    font-variant: small-caps
    font-family: $headline_font
    font-weight: lighter
    color: #ffffff
  div.wrapper
    padding-right: 3em
    padding-left: 3em
  p
    font-size: 1.2em

section#write
  background: #00af65
section#code
  background: #0b61a4
section#work
  background: #ff9200
section#tweet
  background: #ff4900

  ul.tweet_list
    font-size: 1.2em
    list-style-type: none
    li
      overflow: hidden
      padding: .1em
      span.tweet_text
        width: 39em
        float: right


// ============================= */
// ! Layout for mobile version   */
// ============================= */

@media screen and (max-width: 767px)
