---
title: How to get a Google Internship - A guide book on computer science internships
header: How to get a Google Internship
kind: book
featured: true
created_at: "2014-04-05"
updated_at: "2014-12-18"
markup: haml
summary: A guide book to getting computer science software engineering internship with companies such as Google, The New York Times, and startups.
container_id: google-internship-book
---

.container.book
  %section.books-fold.wide
    .ebook-header-description
      %h1.title How to get a Google Internship
      %h2.subtitle
        %p A Guide to Computer Science and Software Engineering Internships

      %h4 IS THIS FOR YOU?

      %p Are you a smart computer science or engineering student starting to look at internships? Do you know the power a good internship has in kick-starting your career?

      %span.quote &#8220;I created the resource and guide I wish existed back when I was first applying for internships.&#8221;

      .call-to-action
        %a{href: "#more-info"}
          %button.learn  Learn More

        %a{:href => "https://gum.co/google-internship-ebook?wanted=true"}
          %button Purchase $10.00
        %span.ebook-versions includes PDF, ePub and Kindle versions

    .ebook-cover
      %img.cover{:alt => "How to get a Google Internship.", :src => "/static/img/google-internship-cover-ipad.png"}

  .divider

  .wrapper
    %section#more-info
      %h4 IS THIS BOOK FOR ME?
      %p Are you a smart computer science or engineering student starting to look at internships? You have heard of internships at top companies where interns earn nearly $10,000 per month. You know the importance of a good internship in kick starting your career.
      %p If you are reading this, then you're doing research and are already way ahead of many of your peers. Honestly, I don't think you <i>need</i> anyone's advice to get a top internship. You could figure it out on your own.
      %p But here's the catch, figuring it out on your own will take a lot of time. It will require making the same mistakes many before you have made and learning from them. It will require time consuming research. The problem won't be too little information, it will be filtering through <i>too much</i> information.
      %p I was once in your exact place, and I remember juggling school work, a job, extracurricular activities, and then on top of that trying to fit in time to get my dream internship. I wanted a resource to help me filter all the noise and guide me to what is really important.
      %p I started to blog about my internship experiences and I was soon getting hundreds of visitors to my website. I was featured on prominent blogs like TechCrunch and BusinessInsider. I realized that I wasn't the only one who wanted a guide to help them through the internship process.

      %p How do you get a top software engineering internship? If you read this book, can I promise that Google will hire you? Of course not!
      %p But the programming world is different from other industries. Your ability to solve problems, learn, and create is more important than anything else. A Computer Science degree is helpful, but absolutely not a requirement. If you build projects – demonstrating that you can teach yourself new skills and solve problems – and are persistent with applications, you will get an internship, I promise you!
      %p Following the guidelines in this book, you’ll be easily able to navigate the internship application process.

      %p This guide is not only the product of my own research and experiences getting internships and jobs at a variety of companies over the last six years. It is also the result of talking with many students from all over the world.
      %p Simply put, I created the resource and guide I wish existed back when I was first applying for internships.

  .divider

  .wrapper
    %section#quotes
      %h4 WHAT OTHERS HAVE SAID
      %ul
        %li
          %span.quote I love your book. I think it's concise, well structured, and easy to read/follow. I'd definitely give you 10/10.
          %b - Edwin
        %li
          %span.quote This provides valuable insight into how to get your foot in the door at the top tech companies. The author knows what he is talking about and this is a must read for anyone looking to work as a developer for a top tech firm. Your book is a big help!
          %b - Kamal
        %li
          %span.quote Your book is a big help!
          %b - Falco

  .divider

  .wrapper
    %section#learn.wide
      %h4 YOU WILL LEARN HOW TO
      %ul
        %li How to prepare for technical interviews.
        %li How to build an online presence.
        %li How apply for internships even if the companies haven't posted jobs.
        %li How to figure out if the company is a good fit.
        %li How to stay on top of your applications
        %li How to get a top internship

  .wrapper
    %section#packages
      .package.book
        %a{:href => "https://gum.co/google-internship-ebook?wanted=true"}
          %button Purchase $10.00

%script{:src => "https://gumroad.com/js/gumroad.js", :type => "text/javascript"}
