-----
title: Books
markup: haml
container_id: books-index
-----

%a{href: "/books/google-internship/" }
  %img{:src => "/static/img/google-internship-book-cover-240.png", class: "cover", :alt => "How to get a Google Internship."}
  %h1 How to Get a Google Internship

%p Learn what it takes to get a software engineering internship with companies such as Google, The New York Times, and startups.
